*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/libraries
/.idea/inspectionProfiles
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/caches/
.idea/codeStyles/
.idea/markdown-navigator.xml